.ant-badge.ant-badge-status {
  line-height: normal;
  vertical-align: middle;

  & > .identicon {
    border-radius: 8px;
  }
}

.address-detail {
  display: flex;
  flex-direction: column;
  & > .text {
    line-height: normal;
  }
  & > .status {
    font-size: 10px;
    line-height: normal;
    color: #30db9e;
  }
  & > .status.disconnected {
    font-size: 10px;
    line-height: normal;
    color: #be1b1b;
  }
}
