.badgeStatus {
  line-height: normal;
  vertical-align: middle;
  & > .antBadgeDot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
  }
}

.identicon {
  border-radius: 5px;
}

.addressDetail {
  display: flex;
  flex-direction: column;
  & > .text {
    line-height: normal;
  }
  & > .status {
    font-size: 10px;
    line-height: normal;
    color: #1fb37e;
  }
  & > .status.disconnected {
    font-size: 10px;
    line-height: normal;
    color: #be1b1b;
  }
}

.etherscanLink {
  color: "#222222";
}
