.questItem {
  background-color: white;
  border-radius: 8px;
}

.questList {
  height: 80vh;
}

.wrapper {
  background: none;
}

.content {
  overflow-y: auto;
  height: 90vh;
}

.sider {
  border-radius: 8px;
  background-color: white;
}
