body {
  margin: 0;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  height: 100%;
  & > #root {
    height: 100%;
    & > section {
      min-height: 100%;
      align-items: center;
      background: #ffc3ab; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #ffc3ab 0%, #fafae2 50%, #cbf3ef 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #ffc3ab 0%, #fafae2 50%, #cbf3ef 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        #ffc3ab 0%,
        #fafae2 50%,
        #cbf3ef 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc3ab', endColorstr='#cbf3ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      main {
        min-height: 100%;
        padding-top: 65px;
        width: 80%;
        margin-bottom: -50px;
      }
      footer {
        height: 50px;
        background: none;
      }
    }
  }
}
