body {
  background: #ffc3ab !important; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffc3ab 0%,
    #fafae2 50%,
    #cbf3ef 100%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffc3ab 0%,
    #fafae2 50%,
    #cbf3ef 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffc3ab 0%,
    #fafae2 50%,
    #cbf3ef 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc3ab', endColorstr='#cbf3ef',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

// Spacing helpers

$space-values: (0, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72) !default;

$space-prefixes: (
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes {
    @each $value in $space-values {
      .#{$attr-short}-#{$value} {
        #{$attr-long}: #{$value}#{"px"} !important;
      }
    }
  }
}

@include make-spaces();

.center {
  text-align: center !important;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.collapsed {
  visibility: collapse;
}

.block {
  width: 100% !important;
  display: block !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
}

.fit-content {
  width: fit-content !important;
}

.inline-flex {
  display: inline-flex !important;
}
